body {
    margin:0;
    font-family:"Helvetica";
    font-style: bold;
}

* {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}



.crumbFile {

    background-color: #faa; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-left:20px;
    margin-right: 20px;
    margin-top:20px;
    cursor:pointer;
}


.crumbFile:hover {
    background-color: #c88; 
    color: white;
    text-decoration: none;
}
.crumbFile:active {
    background-color: #a55; 
    color: white;
    text-decoration: none;
}

.crumbFile:focus {
    background-color: #a55; 
    color: white;
    text-decoration: none;
}
:target {
    background-color: #a55; 
    color: white;
    text-decoration: none;

}

.hidden {
    visibility: hidden;
    display:none;
}

/* Control bar Styles */
.controlbutton {
    padding:5px;
}

.mute {
    font-size:18pt;
}

/* PlayHead */
.playhead {
    height:20px;
    background:blue;
}

/* IconVis */
.iconvis {
    height:20px;
    background:purple;

}

a:link {
    text-decoration: none;
    color:black; 
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
    color:black;
}

a:active {
    text-decoration: underline;
    color:black;
}

.header {
    width:100%;
    height: 100vh;
    font-size: 36pt;
    

   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc170+0,ffcc8e+100 */
    background: #ffc170; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc170 0%, #ffcc8e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(100%,#ffcc8e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000 0%,#ffcc8e 100%); /* Chrome10+,Safari5.1+ #ffcc8e */
    background: -o-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc170 0%,#ffcc8e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa', endColorstr='#faa',GradientType=0 ); /* IE6-9 */

}

#keyframeContainer {
    background-color: #0f0;
    visibility: hidden;
}

.header .menu {
    float:right;
    text-align: right;
    margin-right:0.5em;
}

.header .title {
    margin-left:0.5em;

}



.example-square {
    float:left;
    border:solid;
    border-width:1px;
    margin:10px;
    visibility: hidden;
}

.example-square.selected {
    border-width:3px;
    visibility: hidden;
}

.example-galley {
    width:10%;
    height:100%;
    float:left;
}

.animationoptions {
    margin-right:auto;
    margin-left: auto;

}

.unselectable, text {
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}


